<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-content>
      <ion-item>
        <ion-label position="floating">Nombre Usuario</ion-label>
        <ion-input  type="text"
                    [(ngModel)]="usuario"
                    required
                    
                    placeholder="Correo"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Contraseña</ion-label>
        <ion-input  type="password"
                    [(ngModel)]="password"
                    placeholder="*****"
                    required></ion-input>
      </ion-item>
    </ion-card-content>
    <ion-button shape="block" (click)="login()">Iniciar sesion</ion-button>
  </ion-card>
</ion-content>
  
  <ion-footer>
    <ion-toolbar color="primary">
      <ion-buttons slot="end">
        <ion-button [routerLink]="['/register']">Registrate</ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-footer>
