<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-content>
      <ion-item>
        <ion-label position="floating">Email</ion-label>
        <ion-input  type="email"
                    [(ngModel)]="user.email"
                    required
                    pattern="^[a-z0-9!#$%&'*+/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&'*+/=?^_`{|}~-]+)*@(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?$"
                    placeholder="correo@correo.com"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Password</ion-label>
        <ion-input  type="password"
                    [(ngModel)]="user.password"
                    pattern="^(?=\w*\d)(?=\w*[A-Z])(?=\w*[a-z])\S{4,6}$"
                    required></ion-input>
      </ion-item>
    </ion-card-content>
    <ion-button shape="block" [routerLink]="['/home']" (click)="login()">Login</ion-button>
  </ion-card>
</ion-content>
  
  <ion-footer>
    <ion-toolbar color="primary">
      <ion-buttons slot="end">
        <ion-button [routerLink]="['/register']">Registrate</ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-footer>
