<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Registro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    
    <ion-card-content>
      <form [formGroup]="formularioRegister" (ngSubmit)="save()"> 
        <ion-item>
          <ion-label position="floating">Email</ion-label>
          <ion-input type="email" formControlName="correo" required
          placeholder="correo@correo.com"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Contraseña</ion-label>
          <ion-input formControlName="password" type="password" required ></ion-input>
        </ion-item>

        <div class="ion-text-center" >
          <ion-list>
            <ion-radio-group name="tipo" value="user" formControlName="tipouser" required>
              <ion-list-header>
                <ion-label>Tipo Registro</ion-label>
              </ion-list-header>
              <ion-item>
                <ion-label>User</ion-label>
                <ion-radio value="user"></ion-radio>
              </ion-item>
              <ion-item>
                <ion-label>Admin</ion-label>
                <ion-radio value="admin"></ion-radio>
              </ion-item>
            </ion-radio-group>
            <!-- Span de verificación -->
            <div class="ion-text-center" style="color: red;">
              <span class="error ion-padding" *ngIf="isSubmit && controlerror.tipouser.errors?.required">
                Seleccione su tipo de cuenta.
              </span>
            </div>
            <!--  -->
          </ion-list>
        </div>
        <br>

        <div [formGroup]="formularioRegister">
          <ion-row class="ion-padding">
            <ion-col size="12">
              <ion-button type="submit" expand="block" shape="round" class="ion-text-capitalize">
                <ion-icon slot="start" name="person-add-outline"></ion-icon>Registro de Usuario
              </ion-button>
            </ion-col>
          </ion-row>
        </div>

      </form>
    </ion-card-content>
  </ion-card>
</ion-content>